.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 10.625rem;
}

.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0 1.875rem;
  font-size: 5rem;
  font-weight: 600;
}

.contact-section {
  display: flex;
  gap: 9.375rem;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.contact-left h1 {
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(270deg, #F6C6EC 30%, #EE80D2 80%, #4BB8F9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 34.375rem;
  color: #D8D8D8;
  font-size: 1.25rem;
  line-height: 2.1875rem;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  color: #D8D8D8;
  font-size: 1.375rem;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.875rem;
}

.contact-right label {
  color: #D8D8D8;
  font-size: 1.375rem;
  font-weight: 500;
}

.contact-right input {
  border: none;
  width: 43.75rem;
  height: 4.875rem;
  padding-left: 1.25rem;
  border-radius: 0.25rem;
  background: #32323c;
  color: #A0A0A0;
  font-family: Outfit;
  font-size: 1.25rem;
}

.contact-right textarea {
  width: 40.625rem;
  border: none;
  padding: 1.5625rem;
  border-radius: 0.25rem;
  background: #32323c;
  color: #A0A0A0;
  font-family: Outfit;
  font-size: 1.25rem;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 3.125rem;
  background: linear-gradient(264deg,  #F6C6EC -2.5%, #EE80D2 -3.5%, #4BB8F9 106.28%);
  font-size: 1.375rem;
  padding: 1.25rem 3.75rem;
  margin-bottom: 3.125rem;
  cursor: pointer;
  transition: 0.3s;
}

.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media(max-width: 48rem) {
  .contact {
    gap: 3.125rem;
    margin: 3.125rem 4.375rem;
    align-items: start;
  }

  .contact-title h1 {
    padding: 0;
    font-size: 3.125rem;
    font-weight: 600;
  }

  .contact-title img {
    width: 8.125rem;
    margin-right: -1.25rem;
  }

  .contact-section {
    flex-direction: column;
  }

  .contact-left h1 {
    font-size: 3.375rem;
  }

  .contact-left p {
    font-size: 1.125rem;
  }

  .contact-detail {
    gap: 1.25rem;
  }

  .contact-detail img {
    width: 1.5625rem;
  }

  .contact-right label {
    font-size: 1.25rem;
  }

  .contact-right input {
    width: 100%;
    font-size: 1.25rem;
  }

  .contact-right textarea {
    width: 95%;
    font-size: 1.25rem;
  }

  .contact-submit {
    font-size: 1.25rem;
    padding: 0.9375rem 2.5rem;
  }
}